/* global */
@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@300;400;500;600;700&display=swap");

:root {
  --mainChenin: #e5cb7a;
  --mainGreen: #32c704;
  --mainYellow: #f9ff94;
  --mainRed: #eb2b15;
  --mainBean: #450101;
  --mainWhite: #fff;
  --mainBlack: #1f1f1f;
}

body {
  font-family: "Hahmlet", serif;
  background: var(--mainWhite);
  color: var(--mainBlack);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* navbar */

nav {
  background: var(--mainBlack);
  color: var(--mainWhite);
  padding: 20px;
  z-index: 999;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.logo {
  color: var(--mainRed);
  font-size: 1.8rem;
}

.logo span {
  color: var(--mainGreen);
}

nav li {
  padding: 10px 15px;
}

nav a {
  color: var(--mainChenin);
  font-size: 1.2rem;
}

.nav-toggle {
  background: transparent;
  color: var(--mainChenin);
  font-size: 1.8rem;
  border: none;
}
.nav-links {
  height: 0;
  overflow: hidden;
}
.show-links {
  height: 250px;
}

@media screen and (min-width: 900px) {
  .nav-toggle {
    display: none;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .nav-links {
    height: auto;
  }

  .nav-links ul {
    display: flex;
  }
}

@media screen and (max-width: 460px) {
  .logo {
    font-size: 1.3rem;
  }

  .nav-toggle {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 330px) {
  .logo {
    font-size: 1.1rem;
  }

  .nav-toggle {
    font-size: 1.2rem;
  }

  nav a {
    font-size: 1rem;
  }
  nav {
    padding: 20px 3px;
  }
}
