/* global */
@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@300;400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}
:root {
  --mainChenin: #e5cb7a;
  --mainGreen: #32c704;
  --mainYellow: #f9ff94;
  --mainRed: #ce1d09;
  --mainBean: #450101;
  --mainWhite: #fff;
  --mainBlack: #1f1f1f;
}

body {
  font-family: "Hahmlet", serif;
  background: var(--mainWhite);
  color: var(--mainBlack);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  display: grid;
}

/* header */

#header {
  background: url("./images/hero-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
}

@media (min-width: 40em) {
  #header {
    background: url("./images/hero-img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    background-attachment: fixed;
    opacity: 0.9;
  }
}
/* navbar */

nav {
  background: var(--mainBlack);
  color: var(--mainWhite);
  padding: 20px;
  z-index: 999;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.logo {
  color: var(--mainRed);
  font-size: 1.8rem;
}

.logo span {
  color: var(--mainGreen);
}

nav li {
  padding: 10px 15px;
}

nav a {
  color: var(--mainChenin);
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
}

nav a:hover {
  color: var(--mainRed);
}

.nav-toggle {
  background: transparent;
  color: var(--mainChenin);
  font-size: 1.8rem;
  border: none;
}
.nav-links {
  height: 0;
  overflow: hidden;
}
.show-links {
  height: 250px;
}

@media screen and (min-width: 1000px) {
  nav {
    background: transparent;
  }
  .nav-toggle {
    display: none;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
  }

  .nav-links {
    height: auto;
  }

  .nav-links ul {
    display: flex;
  }
}

@media screen and (max-width: 460px) {
  .logo {
    font-size: 1.3rem;
  }

  .nav-toggle {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 330px) {
  .logo {
    font-size: 1.1rem;
  }

  .nav-toggle {
    font-size: 1.2rem;
  }

  nav a {
    font-size: 1rem;
  }
  nav {
    padding: 20px 3px;
  }
}

/* banner section */
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 71px);
}

.banner h1 {
  color: var(--mainWhite);
  font-size: 2.5rem;
  padding-bottom: 4rem;
}
.monster {
  color: var(--mainRed);
}
.burger {
  color: var(--mainGreen);
}

.btn {
  color: var(--mainWhite);
  border: var(--mainRed) 1px solid;
  font-size: 1.5rem;
  font-weight: 700;
  width: 15rem;
  height: 4rem;
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
  letter-spacing: 2px;
  transition: all 0.75s ease-in-out;
}

.btn:hover {
  background: var(--mainRed);
  color: var(--mainBean);
}

@media screen and (max-width: 760px) {
  .banner h1 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 600px) {
  .banner h1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 460px) {
  .banner h1 {
    font-size: 1.2rem;
  }
}

/* about section */
.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 3rem;
}

.about-container {
  display: grid;
  align-self: center;
  justify-self: center;
  padding: 3rem;
}

.about-container h1 {
  font-size: 2.5rem;
  text-align: center;
  color: var(--mainRed);
  margin-bottom: 3rem;
}

.about-container p {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 3rem;
}

.about-btn {
  text-align: center;
  color: var(--mainGreen);
  border: var(--mainRed) 1px solid;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 5px;
  padding: 10px 15px;
  letter-spacing: 2px;
  width: 15rem;
  justify-self: center;
  transition: all 0.75s ease-in-out;
}
.about-btn:hover {
  background: var(--mainRed);
  color: var(--mainBean);
}
.about-img {
  display: grid;
  justify-self: center;
  align-self: center;
  padding: 2rem;
}
.about img {
  width: 100%;
  border-radius: 10px;
}

.images {
  background: var(--mainChenin);
  display: grid;
  grid-gap: 20px;
  padding: 3rem;
  grid-template-areas:
    "burger-2 chicken-1"
    "burger-2 burger-1";
}

.burger-1 {
  grid-area: burger-1;
  width: 100%;
  border-radius: 5px;
  align-self: center;
}
.burger-2 {
  grid-area: burger-2;
  width: 100%;
  border-radius: 5px;
  align-self: center;
}
.chicken-1 {
  grid-area: chicken-1;
  width: 100%;
  border-radius: 5px;
  align-self: center;
}

@media screen and (max-width: 895px) {
  .images {
    grid-template-areas:
      "burger-2"
      " chicken-1"
      "burger-1";
  }
}

footer {
  display: grid;
  background: var(--mainBlack);
  color: var(--mainWhite);
  height: 150px;
  text-align: center;
  justify-items: center;
  align-items: center;
  font-size: 1.2rem;
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: var(--mainRed);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 4px;
  color: var(--mainWhite);
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: 100;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.show-link {
  visibility: visible;
  z-index: 100;
}
